* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle, #fdfdfd 0%, #e0e0e0 100%);
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1200px;
}
